.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif !important;
}

.top-margin{
  margin-top: 5%;
}

.top-margin-small{
  margin-top: 1%;
}

.no-right-padding{
  padding-right:0!important;
}
.j-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.text-xxxlarge {
  font-size: 32px !important;
}

.text-center{
  text-align: center;
}

.j-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 10px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-weight: lighter;
}
.j-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.j-button-small {
  width: 30%;
}

.desktopLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.colLayout{
   display: flex;
  flex-direction: column;
  
}
.col-md-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.border{
  border:solid;
}

.card{
  margin: 5% 1%;
  /* box-shadow: 10px 10px 5px #888888; */
 border: 1px solid rgba(0,0,0,.125);
  /* border-radius: .25rem; */
 min-width: 18%;
  min-height: 30%;
 /* max-width: 35%; */
  height: 50%;
  width: 15%;
  padding:1%;
  background-color: white;
}

.card-button {
  border: solid 1px;
  padding: 3px;
  text-decoration: none !important;
}

.wideImg{
  width:100%;
  
}

.margin{
  margin:2%;
}

.margin-left{
  margin-left: 20%!important;
}

.padding{
  padding: 1%;
}
.brand-color{
  background-color:   teal;


}

.brand-color2{
  background-color:  #ccffff;

}

.brand-color3{
  background-color:  white;
}


.daycard {
  margin: 5%;
  height: 240px;
  width: 240px;
  border: 1px solid;
}

.daycard-body{
  font-family: Helvetica;
  font-size: 12px;
  padding-top: 9px;
  /*padding-left: 7px;*/
  height: 350px;
  width: 250px;
  border: 1px solid;
}

.daycard-body-placeholder{
  font-family: Helvetica;
  font-size: 24px;
  padding-top: 9px;
  padding-left: 7px;
  height: 350px;
  width: 250px;
  border: 1px solid;
  line-height: 12;
  text-align: center;
}

.daycard-header{
  text-align: center;
  color: #FFFFFF;
  height: 40px;
  width: 250px;
  padding-top: 6px;
  font-family: Helvetica;
  font-size: 16px;
  background-color: lightgrey;
  border: 1px solid;
  border-color: black;
}


.daycard-header-highlight{
  text-align: center;
  color: #FFFFFF;
  height: 40px;
  width: 250px;
  padding-top: 6px;
  font-family: Helvetica;
  font-size: 16px;
  background-color: #00868B;
  border: 1px solid;
  border-color: black;
}

.daycard-location {
  border-bottom: solid 2px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 8px;
  padding-left: 6px;
  margin: 0;
}

.j-button-span{
  border-radius: 0 !important;
}


